/* Selectores, tipo de etiqueta */

h1{
    color: violet;
}

h4{
   text-transform: uppercase; 
}
img{
    width: 320px;
    /* height> 450 px; */
}
/* Selectores, tipo clase */
.img2{
    width:150px ;
}
/* Selectores, tipo clase */
.header img{
    width: 80px;
}

/* lista, sacarle las vi'etas, ponr todo en mayuscula y color morado */
.header{
    box-shadow: 0px 5px 5px rgb(218, 217, 217);
}
.header li{
    list-style-type: none;
    text-transform: uppercase;
    color: rebeccapurple;
}
.header a{
    color: #623892;
    text-decoration:none ;
    font-family: sans-serif;
}
.main .tag{
    background-color: #623892;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}

.main ul{
    list-style-type: none;
}
.fb{
    background-color: rgb(17, 17, 138);
}
.tw{
    background-color: mediumturquoise;
}
.in{
    background-color: plum;
}
.mail{
    background-color: lightcoral;
}
.main article img{
    width: 450px;
}
.main article p{
    width: 500px;
}
.main article li{
    width: 500px;
}
.footer{
    background-color: black;
    color: white;
}

.footer ul{
    list-style-type: none;
}
.footer p{
    text-align: center;
}

.fb{
    display: inline-block;
    width: 150;
    height: 20px;
}
.tw{
    display: inline-block;
    width: 150;
    height: 20px;
}
.in{
    display: inline-block;
    width: 150;
    height: 20px;
}
.mail{
    display: inline-block;
    width: 150;
    height: 20;
}