@charset "UTF-8";
/* ----MOBILE FIRST------*/
@import url("https://fonts.googleapis.com/css2?family=Bad+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bad+Script&family=Poiret+One&display=swap");
* {
  font-family: sans-serif;
  margin: 0;
  padding: 0; }

/* ----HEADER----UL width: 450px --*/
.header {
  box-shadow: 0px 5px 5px #ce9fd8;
  display: flexbox;
  flex-direction: column;
  background-color: white;
  /* PARA CENTRAR */
  align-items: center;
  /* Las letras del navegador */
  /* Todo Navegador */ }
  .header img {
    width: 100px;
    padding: 15px; }
  .header .li {
    padding: 5px;
    list-style-type: none;
    color: #663399; }
  .header .nav-link {
    color: #663399;
    text-decoration: none;
    font-family: sans-serif; }
  .header .nav-item {
    list-style-type: none;
    color: #663399;
    text-transform: uppercase;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center; }
  .header a:hover {
    background-color: #753bb4;
    color: white;
    padding: 10;
    text-decoration: none; }
  .header a:link {
    color: #e5a7dd; }

/* Cuando sea mas gran de 769 */
@media (min-width: 700px) {
  .header {
    align-items: flex-start; }
  .header img {
    width: 100px; }
  .header ul {
    padding: 0px 50px; } }

/* ---Cuerpo----UL width: 450px --*/
/* Tamaño de las ilustraciones */
.main img {
  width: auto;
  padding: 15px;
  height: 300px;
  /* height> 400 px; */ }

.flexpadre img {
  width: 400px; }

.flexpadre {
  background-color: #c78cd6;
  border: 1px solid;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 700px;
  align-content: center;
  flex-wrap: wrap;
  display: grid; }

.flexpadre div {
  background-color: #886bc5;
  border: 2px solid;
  padding: 5px;
  width: 200px;
  height: 200px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center; }

/* -----MAIN -----*/
.main {
  margin: 10px 20px 10px 0px;
  padding: 5px; }
  .main h1 {
    color: #e5a7dd;
    padding: 15px; }
  .main .tag {
    padding: 15px; }
  .main .fecha {
    padding: 15px; }
  .main .h2 {
    padding: 15px; }
  .main h4 {
    text-transform: uppercase; }
  .main .mail {
    background-color: lightcoral;
    display: inline-block;
    height: 20px; }
  .main .fb {
    background-color: #11118a;
    display: inline-block;
    height: 20px; }
  .main .tw {
    background-color: mediumturquoise;
    display: inline-block;
    height: 20px; }
  .main .in {
    background-color: plum;
    display: inline-block;
    height: 20px; }
  .main #carouselExample {
    justify-content: flex-start; }

/* -----MAIN ARTICLE -----*/
.main article {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px; }

.main article img {
  width: 400px; }

.main1 article p {
  width: 400px;
  margin: auto;
  margin: 20px 0px; }

.main1 article li {
  width: 400px;
  margin: auto; }

aside {
  display: none; }

/* Cuando sea mas gran de 769 */
@media (min-width: 769px) {
  .main1 article img {
    width: 500px;
    margin: auto;
    margin: 20px 0px;
    width: 500px; }
  .main1 article p {
    width: 500px;
    margin: auto;
    margin: 20px 0px; }
  .main1 article li {
    width: 500px;
    margin: auto; }
  .img {
    width: 600px;
    padding: 15px;
    margin: auto; }
  .main img {
    height: auto; } }

.formulario {
  margin: 10px 20px 10px 20px; }

.shopilus img {
  width: auto;
  height: 400px;
  padding: 15px;
  display: flexbox;
  /* height> 450 px; */ }

.presentacionshop {
  padding: 15px;
  font-size: large; }

/* FOOTER .footer width: 800px; */
.footer {
  background-color: black;
  color: white;
  margin: 5px 0px;
  margin: 20px 0px; }
  .footer ul {
    list-style-type: none;
    padding: 5px 20px; }
  .footer p {
    text-align: center;
    padding: 5px; }

/* FOOTER .footer width: 800px; */
