/* FOOTER .footer width: 800px; */
.footer{
    background-color: black;
    color: white;
    margin: 5px 0px;
    margin: 20px 0px; 
    ul{
        list-style-type: none;
        padding: 5px 20px;
    }
    p{
        text-align: center;
        padding: 5px;
    }
}

/* FOOTER .footer width: 800px; */