/* -----MAIN -----*/ 
.main{
    margin: 10px 20px 10px 0px;
    padding: 15px;
    h1{
    color:$rosado;
    padding: 15px;
    }
    .tag{
    padding: 15px;
    }
    .fecha{
        padding: 15px;
        }
    .h2{
        padding: 15px;
        }
    h4{
    text-transform: uppercase; 
    }  
    .mail{
        background-color: lightcoral;
        display: inline-block;
        height: 20px;
    }
    .fb{
        background-color: rgb(17, 17, 138);
        display: inline-block;
        height: 20px;
    }
    .tw{
        background-color: mediumturquoise;
        display: inline-block;
        height: 20px;
    }
    .in{
        background-color: plum;
        display: inline-block;
        height: 20px;
    }

    #carouselExample {
        align-items: center;
        display: flex;
        margin: auto;
    } 
    #carousel-inner {
        position: relative;
    } 
}

/* -----MAIN ARTICLE -----*/
.main{
    article{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    }
    article p{
    width: 400px;
    margin: 20px 20px 20px 40px;
    align-items: center;
    padding: 5px;
    }
    article ol{
    width: 400px;
    margin: 20px 20px 20px 40px;
    padding-left: 15px;
    align-items: center;
    }
    aside {
    display: none;
    }
}
/* Cuando sea mas gran de 769 */
@media (min-width: 769px) {
    #carouselExample {
        justify-content: flex-start;
        width: 70%;
        margin: auto;
    }
    .main article p{
        width: 700px;
        padding: 5px;
        margin: 10px 10px 10px 10px;
    }
    .main article li{
        width: 500px;
        padding: 5px;
        margin: 10px 10px 10px 10px;
    }
}  