/* -----MAIN -----*/
.main{
    margin: 10px 20px 10px 20px;
    min-width: 80vh;
    
}
.maintop{
    margin: 10px 20px 10px 20px;
    
}


.maintop h2{
    font-family:spartan;
    text-transform: uppercase;
    background-color: lightpink;
    margin: 5px 0px;
    height: 55px;
    width: 250px;
}
.main1 .tag{
    background-color: #623892;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    border-radius: 3px;
    padding: 4px 10px;
}
.mail{
    background-color: lightcoral;
    display: inline-block;
    height: 20px;
}
.main1 ul{
    list-style-type: none;
    display: flex;
    justify-content:flex-end;

}
.main1 li{
    padding: 5px;
    margin: 0px 5px;
}
.fb{
    background-color: rgb(17, 17, 138);
    display: inline-block;
    height: 20px;
}
.tw{
    background-color: mediumturquoise;
    display: inline-block;
    height: 20px;
}
.in{
    background-color: plum;
    display: inline-block;
    height: 20px;
}

.div carouselExample {
    width: 200px;
    height: 200px;
} 
/* -----MAIN ARTICLE -----*/
.main1 article{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main1 article img{
    width: 400px;
}
.main1 article p{
    width: 400px;
    margin: auto;
    margin: 20px 0px;
}
.main1 article li{
    width: 400px;
    margin: auto;

}
aside {
    display: none;
}

/* Cuando sea mas gran de 769 */
@media (min-width: 769px) {

    .main1 article img{
        width: 500px;
        margin: auto;
        margin: 20px 0px;
        width: 500px;
    }
    .main1 article p{
        width: 500px;
        margin: auto;
        margin: 20px 0px;
    }
    .main1 article li{
        width: 500px;
        margin: auto;
    }
    .img {
        width: 600px;
        padding: 15px;
        margin: auto;
    }

}  
@media (min-width: 1100px){


}