/* -----MAIN -----*/ 
.main{
    margin: 10px 20px 10px 0px;
    padding: 5px;
    h1{
    color:$rosado;
    padding: 15px;
    }
    .tag{
    padding: 15px;
    }
    .fecha{
        padding: 15px;
        }
    .h2{
        padding: 15px;
        }
    h4{
    text-transform: uppercase; 
    }  
    .mail{
        background-color: lightcoral;
        display: inline-block;
        height: 20px;
    }
    .fb{
        background-color: rgb(17, 17, 138);
        display: inline-block;
        height: 20px;
    }
    .tw{
        background-color: mediumturquoise;
        display: inline-block;
        height: 20px;
    }
    .in{
        background-color: plum;
        display: inline-block;
        height: 20px;
    }

    #carouselExample {
        justify-content: flex-start;
    } 
        
}

/* -----MAIN ARTICLE -----*/
.main article{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
.main article img{
    width: 400px;
}
.main1 article p{
    width: 400px;
    margin: auto;
    margin: 20px 0px;
}
.main1 article li{
    width: 400px;
    margin: auto;
}
aside {
    display: none;
}

/* Cuando sea mas gran de 769 */
@media (min-width: 769px) {

    .main1 article img{
        width: 500px;
        margin: auto;
        margin: 20px 0px;
        width: 500px;
    }
    .main1 article p{
        width: 500px;
        margin: auto;
        margin: 20px 0px;
    }
    .main1 article li{
        width: 500px;
        margin: auto;
    }
    .img {
        width: 600px;
        padding: 15px;
        margin: auto;
    }
    .main{
        img{
        height: auto;
    }
    }
}  