
.bodyFormulario form {
    width: 85vw;
    max-width: 450px;
    margin: auto;
    background: #dddddd;
    padding: 10px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 7px;
    
    input {
        width: 100%;
        margin-bottom: 20px;
        padding: 7px;
        font-size: 17px;
        border: none;
        border-radius: 10px;
    }
    h2 {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffffff;
        text-align: center;
        margin: 0;
        font-size: 30px;
        margin-bottom: 20px;
    }
    textarea {
        width: 100%;
        margin-bottom: 20px;
        padding: 7px;
        font-size: 17px;
        border: none;
        border-radius: 10px;
        min-height: 100px;
        max-height: 200px;
        max-width: 100%;
        }
    input#boton {
        background-color: $violeta;
        color: #FFFFFF;
    }
}